.diff > ul {
    margin: 0;
}

.diff .node {
    line-height: 1.5em;

    &.object,
    &.array {
        position: relative;
        list-style-type: disclosure-open;
        
        &.collapsed {
            list-style-type: disclosure-closed;
    
            > ul {
                display: none;
            }
    
            > .property::after {
                content: '';
            }
        }
    }

    &.leaf {
        list-style-type: none;
        margin-left: -2rem;
    }

    > span + span {
        margin-left: 0.5em;
    }

    > .type {
        text-transform: uppercase;
        color: white;
        font-size: 0.75em;
        font-weight: 600;
        padding: 2px 4px;
        border-radius: 3px;
    }

    > .property {
        font-style: italic;
        color: grey;

        &::after {
            content: ':';
        }

        &:last-child::after {
            content: ':';
        }
    }

    > .value {
        &.old {
            text-decoration: line-through;
        }

        &.new {
            color: blue;
            font-weight: 500;
        }

        &.list {
            &::before {
                content: '[ ';
            }

            &::after {
                content: ' ]';
            }

            > span + span::before {
                content: ', '
            }
        }
    }

    > .toggle-handler {
        position: absolute;
        display: block;
        top: 0;
        left: -2rem;
        right: 0;
        height: 1.25em;
        margin: 2px 0;
        border-radius: 2px;
        cursor: pointer;
    }
}

.diff .placeholder {
    color: white;
    font-size: 0.7em;
    font-weight: 600;
    font-family: monospace;
    text-transform: uppercase;
    padding: 0 4px;
    border-radius: 4px;

    &.empty {
        background-color: #ccc;

        &::after {
            content: 'empty';
        }
    }
    
    &.truncated {
        background-color: #ccc;

        &::after {
            content: 'truncated';
        }
    }
    
    &.object {
        background-color: #222;
        cursor: help;

        &::after {
            content: 'object';
        }
    }
}
