.diff {
    ul {
        margin: 0;
        padding-inline-start: 1.625rem;
    }

    .node {
        margin: 0.375em 0;
        line-height: 1em;

        &.object,
        &.array {
            position: relative;
            list-style-type: disclosure-open;
            
            &.collapsed {
                list-style-type: disclosure-closed;
        
                > ul {
                    display: none;
                }
        
                > .property::after {
                    content: '';
                }
            }
        }

        &.leaf {
            display: flex;
            align-items: flex-start;
            column-gap: 0.5em;
        }

        > .type {
            text-transform: uppercase;
            color: white;
            font-size: 0.75em;
            font-weight: 600;
            padding: 2px 4px;
            border-radius: 3px;
        }

        &.removed > .type {
            background-color: red;
        }

        &.added > .type {
            background-color: green;
        }

        &.new > .type {
            background-color: blue;
        }

        &.unchanged > .type {
            background-color: grey;
        }

        &.updated > .type {
            background-color: darkorange;
        }

        > .property {
            padding: 2px 0px;
            font-style: italic;
            color: grey;

            &::after {
                content: ':';
            }
        }

        &.array > ul > .node > .property {
            display: inline-block;
            width: 1rem;
            height: 1rem;
            border: 1px solid;
            border-radius: 50%;
            margin: 0.125em 0;
            padding: 0;
            text-align: center;
            font-size: 0.75em;
            font-style: normal;
            flex-shrink: 0;

            &::after {
                content: '';
            }
        }

        > .value {
            padding: 2px 0px;

            > .content {
                font-size: 0.9375em;
            }
            
            &.old > .content {
                text-decoration: line-through;
            }

            &.new > .content {
                color: blue;
            }

            > .list {
                &::before {
                    content: '[ ';
                }

                &::after {
                    content: ' ]';
                }

                > span + span::before {
                    content: ', '
                }
            }
        }

        > .toggle-handler {
            position: absolute;
            display: block;
            top: -0.25em;
            left: -1.625rem;
            right: 0;
            height: 1.125em;
            margin: 2px 0;
            border-radius: 2px;
            cursor: pointer;
        }

        .placeholder {
            color: white;
            font-size: 0.7em;
            font-weight: 600;
            font-family: monospace;
            text-transform: uppercase;
            padding: 0 4px;
            border-radius: 4px;
        
            &.empty {
                background-color: #ccc;
            }
            
            &.truncated {
                background-color: #ccc;
            }
            
            &.object {
                background-color: #222;
                cursor: help;
            }
        }
    }
}
